
<div align="center" style="padding-bottom:10px;">
<a href="tel:8043872413" style="text-decoration:none;"><img src="../../static/new_phone.png" style="height:30px; width:30px"></a> &emsp;
<a href="mailto:maxwell.caudle@gmail.com?Subject=Your%20amazing%20website" style="text-decoration:none;"><img src="../../static/new_email.png" style="height:30px; width:30px"> </a>&emsp;
<a href="https://github.com/MasonCaiby" alt="github" target="_blank" style="text-decoration:none;"><img src="../../static/new_github.png" style="height:30px; width:30px"> </a>&emsp;
<a href="https://www.linkedin.com/in/maxcaudle/" target="_blank"><img src="../../static/new_linkedin.png" style="height:30px; width:30px"></a>&emsp;
<a href="https://www.instagram.com/pictures_of_stone/" target="_blank"><img src="../../static/new_insta.png" style="height:30px; width:30px"></a>&emsp;
<a href="https://www.facebook.com/max.caudle.5" target="_blank"><img src="../../static/new_facebook.png" style="height:30px; width:30px"></a>&emsp;
<a href="https://www.8a.nu/user/mason-caiby" target="_blank"><img src="../../static/new_8a.png" style="height:30px; width:30px"></a>&emsp;
