{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/styles.css">
<div class="jumbotron text-center">

<html>
<body>
<h1>Add a Food!</h1>
<div class="align_right">
    <form>
    <h3> Food Name </h3>
        <input type = "text" id = "food_name" value = "food name" />
    <h3> Ingredients </h3>
        <input type = "text" id = "ingredient" value = "enter ingredient" /> <input type = "text" id = "amount" value = "enter amount" />
    </form>
    <br>
{% endblock %}

</body>
</html>