{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Mason Caiby</h1>
  <p class="lead"> My name is Mason. I am new to climbing.</p>
  <body>
  I'm not really sure what to put on this page. I kinda just made it so I would
  have another page on my radical website.<p>
  <p>
  Isn't it rad.<p>
  <p>
  I guess I could include a link to my <a href="https://www.8a.nu/user/mason-caiby">8a.nu</a><img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab">.
  <p>
  <p>
  Wow-wee isn't that cool. Here's carousel of climbing movies from Vimeo, I'm in them.<p>
  <p>

  <p>
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
  <div class="carousel-inner" style="interval: false">
    <div class="carousel-item active">
      <iframe src="https://player.vimeo.com/video/272998437" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe src="https://player.vimeo.com/video/63445816" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"
    style="height:28px;
           padding-top: 180px;">
    <div style="background-color:#e9ecef;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                padding: 3px">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="filter:invert(1)"></span>
    <span class="sr-only">Previous</span>

    </div>
  </a>

  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"
    style="height:28px;
           padding-top: 180px;">
   <div style="background-color:#e9ecef;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 4px;
               padding: 3px">
    <span class="carousel-control-next-icon" aria-hidden="true" style="filter:invert(1)"></span>

    <span class="sr-only">Next</span>
    </div>
  </a>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
</div>
    <p>
    Isn't this nice?<p>
    <p>
    I guess I can also talk about my climbing some... I am probably considered a
    5.13 climber, but I decided that the Racist would be my first 5.13 - and I
    haven't done that yet. Therefore, I have not yet done a 5.13. I can't do
    Kahuna Roof at Carter Lake (v5); therefore, every boulder problem I do is v4
    or less. Some of my prouder accomplishments include: ranking in the top 20
    USAClimbing Juniors, sending Living in Fear and Thunder Muscle, ranking in
    the top 50 US sport climbers on 8a.nu (if I didn't downgrade anything).
</div>

</body>
{% endblock %}
