{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="jumbotron text-center">

  <h1>Mason Caiby</h1>
  <p class="lead"> My name is Mason. I am new to climbing.</p>
  <body>
  I'm not really sure what to put on this page. I kinda just made it so I would
  have another page on my radical website.<p>
  <p>
  Isn't it rad.<p>
  <p>
  I guess I could include a link to my <a href="https://www.8a.nu/user/mason-caiby" target='blank'>8a.nu</a><img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab">.
  <p>
  <p>
  Wow-wee isn't that cool. Here's carousel of climbing movies from Vimeo, I'm in them.<p>
  <p>

  <p>
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
  <div class="carousel-inner" style="interval: false">
    <div class="carousel-item active">
      <iframe src="https://player.vimeo.com/video/272998437" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
      <iframe src="https://player.vimeo.com/video/63445816" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"
    style="height:28px;
           padding-top: 180px;">
    <div style="background-color:#e9ecef;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                padding: 3px">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="filter:invert(1)"></span>
    <span class="sr-only">Previous</span>

    </div>
  </a>

  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"
    style="height:28px;
           padding-top: 180px;">
   <div style="background-color:#e9ecef;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 4px;
               padding: 3px">
    <span class="carousel-control-next-icon" aria-hidden="true" style="filter:invert(1)"></span>

    <span class="sr-only">Next</span>
    </div>
  </a>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
</div>
    <p>
    Isn't this nice?<p>
    <p>
    I mainly climb for the instagram pictures, climbing is super in right now.
    I've heard you are allowed to buy coffee from Boxcar if you've sent 5.13.
    Unfortunately, I decided that
    <a href="https://www.mountainproject.com/route/106001169/the-racist" target='blank'>The Racist</a><img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab">
    would be my first 5.13, and I haven't sent that one yet...<p>
    IDK man, it's super weird I take climbing super seriously, it's a huge part
    of my life and I really really care about climbing well, but I don't keep up
    with the world of climbing and my go-to shoes have been around since I started
    climbing (they're the best on the market but still). I just like getting outside
    (or inside if it's a week day) solving problems and trying real fuckin hard.
    I guess I've been trying to figure out how to explain my climbing affliction to
    others and myself, but kinda just keep saying random contradictory shit.
    Here's a quote from my 8a.nu page, I guess:
    <center><blockquote class="w3-panel w3-leftbar w3-sand" style='padding:10px; width:90%; text-align:left;' ><p>
    <span style="font-size:30px;line-height:0.6em;opacity:0.5">&#10077;</span><br>
      I learned the art of rock dancing from the cliffs at Belle Isle, Manny Wall,
      and shit setting of Peak Experiences. Still dreaming of that sweet sweet
      southeastern sandstone. Maybe one day I can climb a proper 5.13. Goals:<br>
    <ul>
      <li>Hate mail for my grading ethics</li>
      <li>Proper 5.13</li>
      <li>I just want girls to like me when I take my shirt off</li>
    </ul>
    </blockquote></center>

</div>

</body>
{% endblock %}
