{% extends 'layout.html' %}
{% block body %}

<html>

<body>

<div class="jumbotron text-center">
  <h1> Welcome to my Climbing grade comparison project</h1>
<p class="lead"></p>
  Please take a look at the existing
  <a href="https://github.com/MasonCaiby/compare_grades" target="_blank">github repo<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>
  for this project.<p>




<div align="center"><h3>Plot Beta</h3></div>
    You can toggle the lines displayed by clicking on them in the legend. You can zoom in and out by drawing a box on the graph, or if you hover near the axis and click-drag parallel to it, it will auto scale the other axis.

<p>

{% include 'compare_grades_full.html' %}

<p>
To see a full-size version of this graph, please
<a href="/compare_grades_full" target='blank' style="color:#22e490;"> click here.<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>


    <h3>Assumptions</h3><p>
    <div align='left'>
        <ol>
    <li>Maybe the biggest assumption we have is that people are entering their data correctly and taking the right amount of points. No one would ever lie on 8a.... Mason</li>
    <li>We're assuming that equally dedicated and motivated and genetically potentialled people are route climbing and bouldering (i.e. Route climbers aren't inheritantly better than boulderererers, even if they are).</li>
    <li>We're assuming that the points gained by flashing vs onsighting are fair to both boulderers and sport climbers (some might argue one discipline is easier to 1st go than another). This also means that we're assuming flashing a route is about 1 letter grade harder than sending a route (I'd personally disagree) and that onsighting is 3 letter grades harder than flashing a route (this is really area dependent)</li>
    <li>We're assuming that points gained are season independent. This is probably wrong. Ideally everyone is getting stronger all the time, if the Bubble, CO is anything to go off of, more people are bouldering outside in the winter than in the summer, so bouldering grades might be a little inflated. But, since we're doing worldwide, maybe the bouldering vs route season averages out?</li>
    <li>We're assuming consistent popularity of bouldering and sport climbing throughout the world. This is tied to assumption number 1</li>
    <li>We're assuming both disciplines pursue grades with equal vigor. If boulderers care more about grades than route climbers their score will be higher than sport climbers.</li>
    <li>We're assuming equal tactics for sport climbers and boulderers. Essentially, that all climbers are trying to maximize their 8a.nu score, spending about a month per project and onsighting as hard as they can. Rifle climbers typically spend a season working a few routes, boulderers (where I'm from) seem to try a handleful of boulders at the same time. This means that boulderers probably send more 'limit' boulders than sport climbers?
        Ok, look, I know BMI is a bad way to gauge someone's health. But it feels like an adequate way to compare muscle mass per height, right? Like, I'm assuming the top climbers are all relatively as lean as each other (like sub 10% bf for men?) and I want to know if being a Bufffff Boiiii (tm) is better than being a Skinni Salammi (also, tm). Well, really what I want to know is if getting my TinderBod 2019 is worth the risk of not climbing as hard this year. Existentially, is it worth trying to climb harder? When do the basic girls that swipe right for me stop caring about how hard I climb? When do I stop caring about how hard I climb. When will I love myself?</ol><p>

<div align="center"><h3>Notes on the Plot</h3></div>
    <ol>
    <li>To determine a grade equivalency just find the ranking closest to your input grade and look at the average grade the same ranked person climbs in the output style.
    <ol>
        <li>Let's use 5.13c (8A+) as an example.</li>
        <li>Find the person that climbs, on average, 13C (10,500 8a.nu points).</li>
        <li>They're Ranked 455th</li>
        <li>Mouse over the graph and you can see the Boulderer ranked 455th's points</li>
        <li>They have 9490 points</li>
        <li>That's really close to 9500 8a.nu points, or v10.</li>
        <li>This means we can say that sending a v10 is about as impressive as climbing 5.13c</li>
    </ol>
    <li>Anecdotally, that lines up with my outdoor climbing experience (1-2 days for me to do either a 13c or v10).</li>
    <li>Also, sorry. The BMI webscraper thing only kinda works. It seems like a hassle to get non-ascii characters included in the URL (or is it an IRI?). If someone wants to go for an improvement, great. You can send me a pull request, or just do it on your own thing. I literally dont care at all.</li>
    <li>Also, the 8a robots.txt webpage doesn't really discuss the .../user/... pages so I just kinda went for it. Please don't sue me.</li>
    <li>Scrapping the height/weight data is taking forever. It seems like 4 seconds per person, so... 4*3000 = 12000s = 200 minutes = 3.33 hours. I hope I dont accidentally delete that data. Although, it sounds liek you might be able to drop the time a bit if you turn off the printing. Your choice. You can also just not re-run this script ever and take my word for its accuracy.</li>
    <li>I'm dropping all BMI's over 35. I spot checked a few users with BMI's that high and it seemed like they entered a joke weight or entered the wrong weight.</li>
    <li>We're plotting the 30 person and 100 person rolling mean for BMI, the raw data is just too varied</li>
    </ol>
    </div>
{% endblock %}

</body></html>