{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
    <h1>Max Caudle</h1><p>
    Data Scientist<p>
      Phone: 804-387-2413 | Email: maxwell.caudle@gmail.com |
      <a href="https://github.com/MasonCaiby" alt="github" target="_blank"><u><font color="#22e490">Github</font></u></a> (Opens in new window) |
      <a href="https://www.linkedin.com/in/maxcaudle/" target="_blank"><u><font color="22e490">LinkedIn</font></u></a> (Opens in new window)<p>
    Let's chat about energy, automation (home, business, relationship), data science, and/or rock climbing.


  </body>
  {% endblock %}
