{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
    <h1>Max Caudle</h1><p>
    Data Scientist<p>
      804-387-2413 | maxwell.caudle@gmail.com |
      <a href="https://github.com/MasonCaiby" alt="github" target="_blank">Github<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a> |
      <a href="https://www.linkedin.com/in/maxcaudle/" target="_blank">LinkedIn<img class="new-window" src='static/new_window.png' style="width:20px; height:20px" title="new tab" alt="opens in new tab"></a><p>
    Let's chat about energy, automation (home, business, relationship), data science, and/or rock climbing.<p>
    <p>
    If your email has "attachment: 1 puppy picture" in the subject I'll know
    it's real. If the puppy is cute enough I'll respond.


  </body>
  {% endblock %}
