{% extends 'layout.html' %}
{% set active_page = "home" %}
{% block body %}
<div class="jumbotron text-center">
  <h1> Welcome to my page</h1>
  <p class="lead"> My name is Max. I am new to HTML etc.</p><p>
  I'm not really sure why I led with that, I guess mainly so you don't judge
  this website too harshly. I was orginially going to just make the 'controls'
  page, but decided to expand it, as I'm currently looking for a job.<p>
<p>
  On a semi-related note, I don't think Atom encorporates spell check, which means
  I should run this through some other spell checker, but for now, naw.<p>
<p>
  Anyway, as an about me: I climb and am into Data Science. That's kinda it.<p>
<p>
  I guess I'd like to say that I work hard and am really smart and like problem
  solving, but you and I both know that's what everyone says, so I won't say it.
  Everyone in Boulder seems to have a personal brand, I like Volcom pants I guess.
  (See that was a joke, since a personal brand is actually how you present
  yourself to the world, not an actual company/brand you like.) I was going to
  develop and carefully curate a brand, but that just seemed kinda fake and I
  can typically see through those. I'd say you can contact me with questions on my brand, but
  neither of us want that. I'll leave it at:<p>
<p>
  <h1> Max Caudle: Volcom brand skinny jeans.

</div>
{% endblock %}
