{% extends 'layout.html' %}
{% set active_page = "home" %}
{% block body %}
<div class="jumbotron text-center">
  <h1>Welcome to my page</h1>
  <p class="lead" style="padding-left:-70px;">My name is Max. I am new to HTML, etc.</p><p>
  <img src="static/Max_Caudle.jpg" alt="Max Caudle" align="left" style="height:190px; width:130px; margin:10px; border-radius:15px;">
  <div align="left">
  I'm not really sure why I led with that, I guess mainly so you don't judge
  this website too harshly. I was orginially going to just make the 'controls'
  page, but then just kinda kept going...<p>
<p>
  On a semi-related note, I don't think Atom encorporates spell check, which means
  I should run this through some other spell checker.<p>
<p>
  Anyway, as an about me: I climb and am into Data Science. That's kinda it.</div><p>
<img src="static/max_climbing.png" alt="Max Caudle Climbing" align="right" style="height:190px; width:190px; margin:10px; border-radius:15px;"><p>
  <div align="left">
  I guess I'd like to say that I work hard and am really smart and like problem
  solving, but you and I both know that's what everyone says, so I won't say it.
  Everyone in Boulder seems to have a personal brand, I like Volcom pants I guess.
  (See that was a joke, since a personal brand is actually how you present
  yourself to the world, not an actual company/brand you like.) I was going to
  develop and carefully curate a brand, but that just seemed kinda fake and I
  can typically see through those. I'm honestly just trying to impress my dad and
  get a dog, but that doesn't really seem like a brand. I'll leave it at:<p></div>
<p>
  <h1> Max Caudle: Volcom brand skinny jeans.

</div>
{% endblock %}
