{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="../static/styles.css">
<div class="jumbotron text-center">
  <h1> Welcome to my Picnic Table project</h1>
  <p class="lead"> This project is not complete, but it's functional enough.</p>
  I had orginally planned to make the light controls password protected, and I
  might add some buttons for presets. I have other priorities right now.<p>
  This project was partially inspired by my girlfriend's desire for an outdoor
  table,
  <a href="https://github.com/timothy-salazar/light_controls" target="blank">TC's light project<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>.
  and my desire to make cool things, and ability to reject any idea of scope
  control.<p>
  <p>
  I'd like to thank TC for all of his help with the lights - I literally had no
  idea what I was doing until it was done. If you have any questions about
  anything Data Science or really any cool projects I'm sure he'd love to chat.
  Try contacting him through his
  <a href="https://github.com/timothy-salazar/" target="blank">Github.<img class='new-window' src='static/new_window.png' title="new tab" alt="opens in new tab"></a>.
  I also need to thank Nick Smith and Kynan Waggoner for loaning me some
  powertools and my girlfriend Marissa for letting me borrow her garage, and
  putting up with me. <p>
  All of these people are way better than me at everything.<p>
  <p>
  Anyway, the project here was to build a picnic table (for outdoor use and
  storage) I went ahead and added the led lights to the bottom of the table
  because I thought it wood (haha) look cool. Honestly, I did a lot of extra work
  for aesthetics, and it still looks pretty bad. If you would like to replicate
  this project, the details for the table are here, and for the LEDs and website
  (also this entire site) can be found in my
  <a href="https://github.com/MasonCaiby/website" target="blank">repo.<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a><p>
  <p>
  <h3>The Table</h3>
  <div align='left'>
  I tried to take pictures as I went, but didn't do a very good job. Contact me
  with questions if you have any.<p>
    <p>
  I probably over built this and would like to stress that doing this without a
  table saw, bandsaw, and large miter saw is a huge pain. If you don't have access to
  those tools (I didn't) I would suggest using L-bracket clamps like
  <a href="https://smile.amazon.com/Knape-Vogt-Ultimate-Bracket-Titanium/dp/B002TII0JY/ref=sr_1_1?ie=UTF8&qid=1529358498&sr=8-1&keywords=KNAPE+%26+VOGT+208TI550+Hardware+Brackets" target="blank">these<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>
  instead of the psuedo joinery I did. If you would like to suffer and have bad
  joints, I used a skill saw with a 10" blade. If you can find a thinner one that will let
  you cut a 4x4 (don't forget about clearing the board throught the up down
  cycle of the blade), you might be better off. My blade was quite thick.<p>
    <p>
  The first step is to get all of your wood. I made my table quite large (8 feet
  long), so I'll just go off those measurements. I used full 2x6's for the
  tops and 4x4's for everything else. Remember that timber dimensions are nominal.
  A standard rule of thumb is that everything over 2" shrinks by 1/2". So a 2x6
  is really a 1.5"x5.5" and a 4x4 is really a 3.5"x3.5". Also, if you're buying lumber,
  there's a really really good chance the boards are warped, or slightly off in
  size. People that do this a lot will typically look down the boards while they're
  buying them at Home Depot. I can't say anything about other lumber yards; it
  might be bad ettiquite, like rubbing chopsticks together at a fancy Japenese
  Restraunt. My final dimesnison were:<p>
  <h5>Table</h5>
  &emsp;8' long x ~34" (6 2x6s) wide x ~31.5" high .
  <h5>Benches (x2)</h5>
  &emsp;7' long x ~ 11" wide x ~16.5" high (you should maybe make these a few inches taller)<p>
  <p align = 'left'>
  If you want your table to be the same size as mine you'll need the following
  quantities of wood, I'll also have a shopping list at the bottom of this page.
  If you want to change the sizes, you'll have to figure out
  your wood needs, although I suspect they won't change much unless you trim
  your length down to 5ish feet. I used
  <a href="https://www.homedepot.com/p/Woodguard-2-in-x-6-in-x-8-ft-2-DF-Polymer-Coated-Western-Red-Cedar-Tone-Treated-Lumber-04-77-17803/301707975" target="blank">Home Depot's Red Cedar Pressure Treated Wood<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>.
  for both the tops and bottoms (except in 4x4 for the bottom / base). You shouldn't
  need pressure treated wood, as we'll end up coating it anyway, but I believe it's
  best practice to use it.<p>
  <h5>10 4x4's and 10 2x6's</h5>
  Make sure you get the best wood you can. You'll want to make sure it's level,
  has good edges, and is dry (or you can leave it in your girlfriend's garage for
  3 weeks, up to you).<p>
  <p>
  <b>Step 1:</b> Cut the boards to length. I added a few inches to the height of the legs,
  as mine are a little short.<p>
  &emsp;The most obvious step is to cut all of your 2x6's with a miter saw.<p>
  &emsp;&emsp;You want 4 at 7' and 6 at 8'<p>
  &emsp;You'll also need to cut the 4x4's<p>
  <table style="width:90%;border:1px solid black;" align='center'>
  <td align='center' colspan=3><b>TABLE</b></td>
  <tr style='border:1px solid black;'>
    <th align='center' style='border:1px solid black;width:25%;'>Part Name</td>
    <th align='center' style='border:1px solid black;width:25%;'>Quantity</td>
    <th align='center' style='border:1px solid black;'>Length</td>
  <tr style='border:1px solid black;'>
    <td style='border:1px solid black; padding-left:10px;'>Legs</td>
    <td style='border:1px solid black; padding-left:10px;'>4</td>
    <td style='border:1px solid black; padding-left:10px;'>30"</td>
  </tr>
  <tr style='border:1px solid black;'>
    <td style='border:1px solid black; padding-left:10px;'>Lengths</td>
    <td style='border:1px solid black; padding-left:10px;'>2</td>
    <td style='border:1px solid black; padding-left:10px;'>93"</td>
  </tr>
  <tr style='border:1px solid black;'>
    <td style='border:1px solid black; padding-left:10px;'>Widths</td>
    <td style='border:1px solid black; padding-left:10px;'>2</td>
    <td style='border:1px solid black; padding-left:10px;'>33.5"<br />You will
                                          want to change this depending on how
                                          much space you have between your boards</td>
  </tr>
  <tr style='border:1px solid black;'>
    <td style='border:1px solid black; padding-left:10px;'>Supports</td>
    <td style='border:1px solid black; padding-left:10px;'>2</td>
    <td style='border:1px solid black; padding-left:10px;'>26.5"</td>
</table><p>
  <table style="width:90%;border:1px solid black;" align='center'>
  <td align='center' colspan=3><b>BENCHES</b></td>
  <tr style='border:1px solid black;'>
    <th align='center' style='border:1px solid black;width:25%;'>Part Name</td>
    <th align='center' style='border:1px solid black;width:25%;'>Quantity (for 2 benches)</td>
    <th align='center' style='border:1px solid black;'>Length</td>
  <tr style='border:1px solid black;'>
    <td style='border:1px solid black; padding-left:10px;'>Legs</td>
    <td style='border:1px solid black; padding-left:10px;'>8</td>
    <td style='border:1px solid black; padding-left:10px;'>12"</td>
  </tr>
  <tr style='border:1px solid black;'>
    <td style='border:1px solid black; padding-left:10px;'>Lengths</td>
    <td style='border:1px solid black; padding-left:10px;'>4</td>
    <td style='border:1px solid black; padding-left:10px;'>11"</td>
  </tr>
  <tr style='border:1px solid black;'>
    <td style='border:1px solid black; padding-left:10px;'>Widths</td>
    <td style='border:1px solid black; padding-left:10px;'>4</td>
    <td style='border:1px solid black; padding-left:10px;'>33.5"<br />You will
                                          want to change this depending on how
                                          much space you have between your boards</td>
  </tr>
  <tr style='border:1px solid black;'>
    <td style='border:1px solid black; padding-left:10px;'>Supports</td>
    <td style='border:1px solid black; padding-left:10px;'>4</td>
    <td style='border:1px solid black; padding-left:10px;'>4"</td>
  </tr>
</table><p><p>
  <b>Step 2:</b> Make the legs<p>
  &emsp;You're going to want to make a post on the inside corner on each leg. This
  way you can connect your width and length boards without screwing into end grain
  ever. The corner with the post should be the worse corner (e.g. most rounded).

  <p>
</div>
{% endblock %}
