{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="../static/styles.css">
<div class="jumbotron text-center">
  <h1> Welcome to my Picnic Table project</h1>
  <p class="lead"> This project is not complete, but its functional enough.</p>
  I had orginally planned to make the light controls password protected, and I
  might add some buttons for presets. I have other priorities right now.<p>
  This project was partially inspired by my girlfriend's desire for an outdoor
  table,
  <a href="https://github.com/timothy-salazar/light_controls" target="blank">TC's light project<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>.
  and my desire to make cool things, and ability to reject any idea of scope
  control.<p>
  <p>
  I'd like to thank TC for all of his help with the lights - I literally had no
  idea what I was doing until it was done. If you have any questions about
  anything Data Science or really any cool projects I'm sure he'd love to chat.
  Try contacting him through his
  <a href="https://github.com/timothy-salazar/" target="blank">Github.<img class='new-window' src='static/new_window.png' title="new tab" alt="opens in new tab"></a>.
  I also need to thank Nick Smith and Kynan Waggoner for loaning me some
  powertools and my girlfriend Marissa for letting me borrow her garage, and
  putting up with me. <p>
  All of these people are way better than me at everything.<p>
  <p>
  Anyway, the project here was to build a picnic table (for outdoor use and
  storage) I went ahead and added the led lights to the bottom of the table
  because I thought it wood (haha) look cool. Honestly, I did a lot of extra work
  for aesthetics, and it still looks pretty bad. If you would like to replicate
  this project, the details for the table are here, and for the LEDs and website
  (also this entire site) can be found in my
  <a href="https://github.com/MasonCaiby/website" target="blank">repo.<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a><p>
  <p>
  <h3>The Table</h3>
  I tried to take pictures as I went, but didn't do a very good job. Contact me
  with questions if you have any.<p>
    <p>
  I probably over built this and would like to stress that doing this without a
  table saw, bandsaw, and miter saw is a huge pain. If you don't have access to
  those tools (I didn't) I would suggest using L-bracket clamps like
  <a href="https://smile.amazon.com/Knape-Vogt-Ultimate-Bracket-Titanium/dp/B002TII0JY/ref=sr_1_1?ie=UTF8&qid=1529358498&sr=8-1&keywords=KNAPE+%26+VOGT+208TI550+Hardware+Brackets" target="blank">these<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>
  instead of the psuedo joinery I did. If you would like to suffer and have bad
  joints, I used a skill saw with a 10" blade. If you can find one that will let
  you cut a 4x4 (don't forget about clearing the board throught the up down
  cycle of the blade), you might be better off. My blade was quite thick.<p>
    <p>
  The first step is to get all of your wood. I made my table quite large (8 feet
  long), so I'll just go off those measurements. So I used full 2x6's for the
  tops and 4x4's for everything else. My final dimesnison were:<p>
  <h5>Table</h5>
    8' long x ~33" wide x ~31.5" high.
  <h5>Benches (x2)</h5>
  7' long x ~ 11" wide x ~13.5" high (you should maybe make these a few inches taller)<p>
  <p>
  If you want your table to be the same size of mine you'll need the following
  quantities of wood. If you want to change the sizes, you'll have to figure out
  your wood needs. I used
  <a href="https://www.homedepot.com/p/Woodguard-2-in-x-6-in-x-8-ft-2-DF-Polymer-Coated-Western-Red-Cedar-Tone-Treated-Lumber-04-77-17803/301707975" target="blank">Home Depot's Red Cedar Pressure Treated Wood<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>.
  for both the tops and bottoms (except in 4x4 for the bottom / base). You shouldn't
  need pressure treated wood, as we'll end up coating it anyway, but I believe it's
  best practice to.<p>
  10 4x4's<p>
  9 2x6's<p>
  Make sure you get the best wood you can. You'll want to make sure it's level,
  has good edges, and is dry (or you can leave it in your girlfriend's garage for
  3 weeks, up to you).<p>
  <p>

  <p>
</div>
{% endblock %}
