{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/styles.css">
<div class="jumbotron text-center">

<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{{ url_for('view_recipe') }}">
    <input type="hidden" id="recipe_id" name="recipe_id" value="{{ recipe_id }}">
    <button name="add_review" type="submit" value="test">Add a Review</button>
<br>
    <h2>Recipe:</h2>
    {% for recipe_line in recipe %}
        {{ recipe_line }}<br>
    {% endfor %}
    <h2>Ratings: </h2>
    <p>
    {% for rating in reviews %}
        {{ rating }}<br>
    {% endfor %}
    </p>

{% endblock %}

</body>
</html>
</div>