{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/styles.css">
<div class="jumbotron text-center">

<html>
<body>
    viewing {{ food }}

    <h2>recipes: </h2>
    <p>
    <form method="POST" action="{{ url_for('view_food') }}">
        <input type="submit" value="Add a Recipe " name="recipe_selector"/><br><br>
        {% for recipe in recipes %}
            <input type="submit" value="{{ recipe }}" name="recipe_selector"/><br><br>
        {% endfor %}
    </p>

{% endblock %}

</body>
</html>