{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/styles.css">
<div class="jumbotron text-center">

<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    viewing {{ food }}

    <h2>recipes: </h2>
    <p>
    <form method="POST" action="{{ url_for('view_food') }}">

        <button name="add_recipe" type="submit" value="{{ food }}">Add a Recipe</button>
        <br>
        <br>
        <input type="hidden" id="food_id" name="food_id" value="{{ food_id }}">
        {% for recipe_id, recipe in recipes.items() %}
            <button name="recipe_selector" type="submit" value="{{ recipe_id }}">{{ recipe[0] }}</button><br>

        {% endfor %}
    </p>

{% endblock %}

</body>
</html>
</div>