{% extends 'layout.html' %}
{% block body %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/styles.css">
<div class="jumbotron text-center">

<h1>This page is Meta</h1>

<p class="lead"> Here is the
  <a href="https://github.com/MasonCaiby/website" target='blank' style="color:#22e490;">Github Link<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a> for this project.</p>

<p>
  
{% endblock %}
