{% extends 'layout.html' %}
{% block body %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/styles.css">
<div class="jumbotron text-center">

<h1>This page is Meta</h1>

<p class="lead"> Here is the
  <a href="https://github.com/MasonCaiby/website" target='blank' style="color:#22e490;">Github Link<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a> for this project.</p>

<p>
This website was originally just going to be the controls page (which you can't
access without the login info). But then kinda became a personal website. It's ok.
The website is currently running on a raspberry pi that is in a box screwed to
the bottom of a table outside of my girlfriend's condo. I apologize for any
laggy behavior.<br>
<br>
The main delay I've hit is loading a lot of images at once, it, I believe, is
from the pi's SD card storage. I wonder if I could optimize that somehow?<br>
<br>
It is a flask / bootstrapped website. Idk if y'all care about this or any of the
smaller features I got running on it, but I've had a lot of fun building it out
(the entire purpose of personal projects I think), think some of the things are
pretty cool, and also learned a TON of stuff. Port Forwarding. I don't really
know what to include on this site, so I've kinda just been rambling about random
things and projects. I should probably work on some ML projects too. But yeah,
it's ok. Browse around,
<a href="/contact" target='blank' style="color:#22e490;">hit me up</a>
with questions or comments or ideas on things to add to this.
</p>

{% endblock %}
