{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
  <h1> Welcome to my wildlife detection project <p>
    a.k.a.<p>
    Fauna-ing Over Object Detection</h1>
  I'm not going to copy my Github's README.md file or anything into this page.
  I really just want you to click on the
  <a href="https://github.com/MasonCaiby/Boulder_AI_CPW_study" target="blank">github<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>
  link.<p>
<p>
  I did this project in conjuction with
  <a href="https://www.boulderai.com/?gclid=CjwKCAjw0ujYBRBDEiwAn7BKt-dlv70__HYqtXFfbC2cZ58JN3UJqRZSG47TBgdAN3AWpzHhPkcJLxoCK2UQAvD_BwE" target="blank">BoulderAI<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>.
   It is an object detection model trained on wildlife images from
   <a href="http://image-net.org/" target="blank">Imagenet<img class="new-window" src='static/new_window.png' title="new tab" alt="opens in new tab"></a>.
   I had about a week to pipe, train, and evaluate the model. With this tight
   time constraint I was able to get the model to detect animals with a fair amount
   of accuracy (precision of 83%), but was unable to get the model to identify
   animal species. With more training time I am confident the model would
   identify some species correctly (due to the BW nature of the photos and the
   size of some animals I'm not sure it could differentiate between say, a robin
   and a sparrow).<p>
<p>
  This project was a great intro to object detetion and computer vision. I also
  learned a lot about AWS, Python's os package, scoping issues, and working with
  companies/customers under a tight time constraint. The project whetted my
  object detection appettite, and I look forward to some more projects coming in
  the future. So stay tuned and if you have any cool computer vision project ideas,
  or TensorFlow API questions, shoot them <a href="contact">my way!</font></u></a>
</div>
{% endblock %}
